---
title: About this Page
---

.frame
  .container

    %article.type-system-serif

      #links
        %a(href="/") Laudato Si’
        %span.smallbreak
          %span.nosmall &nbsp;|&nbsp;
        -# %a(href="contents") Table of Contents
          %span.smallbreak
            %span.nosmall &nbsp;|&nbsp;
        %a(href="http://w2.vatican.va/content/francesco/en/encyclicals/documents/papa-francesco_20150524_enciclica-laudato-si.html") Official Source



      %h3 About this Site
      %p
        This site offers a mirror of the
        %a(href="http://w2.vatican.va/content/francesco/en/encyclicals/documents/papa-francesco_20150524_enciclica-laudato-si.html") official document
        Laudato Si’ that is hosted on the Vatican site. All contents belong to Libreria Editrice Vaticana and are
        repeated here merely for educational purposes. My hope is to better facilitate public reading of the
        encyclical by making it more accessible and convenient for online reading.

      %p
        Features: properly ordered headers; cleaner typography; responsive layout; scripture reference pop-ups;
        linkable paragraph numbers.

      %p.author
        Site hosted via
        %a(href="https://github.com/jasonphillips/laudato-si") Github.
        Improvements or criticisms welcome.
